---
- name: Common base packages and Python tooling
  hosts: moriarty
  become: true
  gather_facts: true
  roles:
    - role: common
      tags: base

- name: Setup Mysql DB
  hosts: dbs
  become: true
  gather_facts: true
  roles:
    - role: dbs
      tags: mysql

- name: Setup moriarty runtime
  hosts: runtime
  become: true
  gather_facts: true
  roles:
    - role: runtime
      tags: moriarty

- name: upgrade-db
  hosts: dbs
  become: true
  gather_facts: true
  roles:
    - role: upgrade-db
      tags: upgrade-db

- name: Metabase DB tasks
  hosts: dbs
  become: true
  gather_facts: true
  roles:
    - role: metabase
      tags: metabase

- name: Metabase Runtime tasks
  hosts: runtime
  become: true
  gather_facts: true
  roles:
    - role: metabase
      tags: metabase
