---
- name: Update the package index on RHEL
  dnf:
    name: "*"
    state: latest
    update_cache: yes

- name: Set SELinux to permissive mode
  ansible.builtin.command: setenforce 0

- name: Ensure log directory exists
  file:
    path: /var/log
    state: directory
    mode: '0755'

- name: Create Log File
  file:
      path: "{{ log_file }}"
      state: touch

- name: Log output to a log file
  lineinfile:
    path: "{{ log_file }}"
    line: "Starting script..."
    state: present

- name: Install the GPG key for EPEL repository
  rpm_key:
    state: present
    key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-9

- name: Install EPEL repository
  dnf:
    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
    state: present


- name: Enable PHP 8.2 module
  command: dnf module enable php:8.2 -y
  register: php_enable

- name: Install PHP-8.2 module
  command: dnf module install php:8.2 -y
  when: php_enable.rc == 0



- name: Update package index and install required packages
  yum:
    update_cache: yes
    name:
      - wget
      - git
      - zip
      - supervisor
      - composer
      - nginx
      - php
      - php-cli
      - php-fpm
      - php-json
      - php-mysqlnd
      - php-zip
      - php-gd
      - php-intl
      - php-mbstring
      - php-curl
      - php-xml
      - php-pear
      - php-soap
      - php-bcmath
      - php-dba
      - php-dbg
      - php-devel
      - php-common
      - php-embedded
      - php-enchant
      - php-gmp
      - php-ldap
      - php-odbc
      - php-pdo
      - php-opcache
      - php-process
      - php-snmp
      - patch
      - jq
    state: present

- name: Create devportal group
  group:
    name: devportal
    state: present
    system: yes

- name: Create devportal user
  user:
    name: devportal
    group: devportal
    home: /home/devportal
    shell: /bin/bash
    create_home: yes
    system: yes

- name: Ensure composer home exists and is writable
  file:
    path: /home/devportal/.composer
    state: directory
    owner: devportal
    group: devportal
    mode: "0775"

- name: Check if the Git repository already exists
  stat:
    path: /var/www/html/shushportal
  register: repo_check

- name: Mark the repository as safe for Git
  command: git config --global --add safe.directory /var/www/html/shushportal


- name: Clone Git repository if it does not exist
  git:
    repo: "{{ git_repo }}"
    dest: "/var/www/html/shushportal"
    version: "{{ git_version }}"
    force: yes
  when: not repo_check.stat.exists

- name: Ensure the correct branch is checked out and up-to-date
  git:
    repo: "{{ git_repo }}"
    dest: "/var/www/html/shushportal"
    version:  "{{ git_version }}"
    force: yes
    update: yes

- name: Ensure ownership of application directory
  file:
    path: /var/www/html
    owner: devportal
    group: nginx
    state: directory
    recurse: yes

- name: Install Composer dependencies (no-dev) as devportal
  become: yes
  become_user: devportal
  command: /usr/bin/composer install --no-dev --prefer-dist --no-progress --optimize-autoloader --no-interaction
  args:
    chdir: /var/www/html/shushportal
  environment:
    COMPOSER_HOME: /home/devportal/.composer
    COMPOSER_MEMORY_LIMIT: "2G"

- name: Resolve DB host from dbs group
  set_fact:
    db_host_resolved: >-
      {{
        (groups['dbs'] | map('extract', hostvars, 'db_host') | select('defined') | list | first)
          | default(groups['dbs'] | map('extract', hostvars, 'ansible_host') | list | first)
      }}
- name: Show resolved DB host
  debug:
    msg: "Resolved DB host is {{ db_host_resolved }}"

- name: Resolve DB credentials from dbs group
  set_fact:
    db_name: "{{ hostvars[groups['dbs'][0]].db_name }}"
    db_user: "{{ hostvars[groups['dbs'][0]].db_user }}"
    db_password: "{{ hostvars[groups['dbs'][0]].db_password }}"

- name: Show database configuration values
  debug:
    msg:
      - "db_name: {{ db_name }}"
      - "db_user: {{ db_user }}"
      - "db_password: {{ db_password }}"
- name: Template PHP settings file
  template:
    src: settings.php.j2
    dest: /var/www/html/shushportal/web/sites/default/settings.php  # Specify the destination path for the generated file
  vars:
    db_host: "{{ db_host_resolved }}"
    db_user: "{{ db_user }}"
    db_name: "{{ db_name }}"  
    db_password: "{{ db_password }}"

- name: Ensure the private directory exists
  file:
    path: /var/www/html/shushportal/private-files
    state: directory
    mode: '0755'

      
- name: Ensure Nginx sites-enabled directory exists
  file:
    path: /etc/nginx/sites-enabled
    state: directory
    mode: '0755'

- name: Ensure Script Dirctoruy
  file:
    path: /var/www/html/shushportal/scripts
    state: directory
    mode: '0755'

- name: copy salt files
  template:
    src: salt.txt
    dest: "{{ salt_file }}"

- name: Write drupal-nginx. files
  template:
    src: drupal-nginx.conf
    dest: "{{ drupal_nginx_conf }}"

- name: Write nginx.conf files
  template:
    src: nginx.conf
    dest: "{{ nginx_conf }}"
    

- name: Change ownership of /var/www/html
  file:
    path: /var/www/html
    owner: devportal
    group: nginx
    state: directory
    recurse: yes

- name: copy permission files
  template:
    src: set-permissions.sh
    dest: "{{ set_permission_file }}"

- name: Ensure set-permissions.sh is executable
  file:
    path: /var/www/html/shushportal/set-permissions.sh
    mode: '0755'  # Ensure it's executable

- name: Change ownership of /var/www/html
  ansible.builtin.file:
    path: /var/www/html
    owner: devportal
    group: nginx
    recurse: yes

- name: Set permissions for settings.php
  ansible.builtin.file:
    path: /var/www/html/shushportal/web/sites/default/settings.php
    mode: '0664'
    owner: devportal  # Set this to the appropriate user
    group: nginx      # Set this to the appropriate group

- name: Set permissions for the default directory
  ansible.builtin.file:
    path: /var/www/html/shushportal/web
    mode: '0775'
    recurse: yes
    owner: devportal  # Set this to the appropriate user
    group: nginx      # Set this to the appropriate group

- name: Ensure is_drush_target is defined
  set_fact:
    is_drush_target: "{{ is_drush_target | default(false) }}"

- name: Clear cache
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush cr

- name: Import configuration
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush cim -y

- name: Enable zcs_apis module
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush en zcs_apis -y

- name: Enable shush theme
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush theme:en shush -y

- name: Set default theme
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush config-set system.theme default shush -y

- name: Enable zcs_user_management module
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush en zcs_user_management -y

- name: Enable zcs_client_management module
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush en zcs_client_management -y

- name: Enable Kong Module
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush en zcs_kong -y

- name: Disable zcs_consent module when consent_check is OFF
  ansible.builtin.command: /var/www/html/shushportal/vendor/bin/drush pmu zcs_consent -y
  when: consent_check | lower == "off"

- name: Run database updates
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush updb -y

- name: Clear cache again
  when: is_drush_target | default(false)
  command: /var/www/html/shushportal/vendor/bin/drush cr


- name: Change PHP-FPM user and group to nginx
  command: sed -i -e 's/^user = apache/user = nginx/' -e 's/^group = apache/group = nginx/' /etc/php-fpm.d/www.conf

- name: Restart PHP-FPM service
  systemd:
    name: php-fpm
    state: restarted

- name: Reload Nginx
  ansible.builtin.systemd:
    name: nginx
    state: reloaded

- name: Ensure required SELinux packages are installed
  package:
    name: policycoreutils-python-utils
    state: present
  when: ansible_os_family == "RedHat"


- name: Allow PHP-FPM (Nginx) to connect to a remote database
  seboolean:
    name: httpd_can_network_connect_db
    state: yes
    persistent: yes

- name: Ensure Nginx and PHP-FPM start on boot
  systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
  loop:
    - nginx
    - php-fpm

# - name: Run Supervisor with Drupal configuration
#   command: supervisord --nodaemon -c /etc/drupal_supervisor.conf
  # async: 0  # Runs immediately
  # poll: 0   # Do not wait for the command to complete
  # register: supervisord_status

# - name: Wait for Supervisor to start
#   async_status:
#     jid: "{{ supervisord_status.ansible_job_id }}"
#   register: job_result
#   until: job_result.finished
#   retries: 10
#   delay: 5

- name: Log completion message
  lineinfile:
    path: "{{ log_file }}"
    line: "Startup script completed successfully."
    state: present

- name: Ensure Git directory is marked safe
  shell: git config --global --add safe.directory /var/www/html/shushportal
  args:
    chdir: /var/www/html/shushportal

- name: Get latest Git tag
  shell: git describe --tags --abbrev=0 || echo "v0.0.0"
  args:
    chdir: /var/www/html/shushportal
  register: version_tag

- name: Get Git commit SHA
  shell: git rev-parse HEAD
  args:
    chdir: /var/www/html/shushportal
  register: commit_sha

- name: Get Git branch name
  shell: git rev-parse --abbrev-ref HEAD
  args:
    chdir: /var/www/html/shushportal
  register: branch_name

- name: Get Drupal version via Drush
  shell: /var/www/html/shushportal/vendor/bin/drush status | grep 'Drupal version' | awk -F ':' '{gsub(/^[ \t]+/, "", $2); print $2}'
  register: drupal_version

- name: Get build date (UTC)
  shell: date -u +'%Y-%m-%dT%H:%M:%SZ'
  register: build_date

- name: Create version.json
  copy:
    dest: /var/www/html/shushportal/web/version.json
    content: |
      {
        "version": "{{ version_tag.stdout }}",
        "commit": "{{ commit_sha.stdout }}",
        "branch": "{{ branch_name.stdout }}",
        "build_date": "{{ build_date.stdout }}",
        "environment": "{{ environment | default('unknown') }}",
        "drupal_version": "{{ drupal_version.stdout }}"
      }

- name: Echo version path
  debug:
    msg: "version.json created at /var/www/html/shushportal/web/version"